<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="jquery-3.5.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/shopping-cart.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/items.css">
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <h1 class="navbar-brand display-1">Ресторан</h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Меню</a>
            </li>
            <li class="nav-item" id="shopping-cart-btn">
                <a class="nav-link" href="shopping-cart.html">Корзина</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container item-container mt-4">
    <% for ( let menuItem of menuItems) { %>
        <div item-id="<%= menuItem.id %>" class="card">
            <img class="card-img-top" src="<%= menuItem.picUrl %>" width="100%">
            <div class="card-body">
                <h3 class="card-title item-title"><%= menuItem.title %></h3>
                <p class="card-text item-description"><%= menuItem.description %></p>
                <h4 class="item-price">Цена: <span>$<%= menuItem.price %></span></h4>
                <button class="btn btn-primary add-item" id="<%= menuItem.id %>">Добавить в корзину</button>
            </div>
        </div>
    <% } %>
    </div>
</body>
</html>